.white-dropdown-arrow::after {
  border-top-color: white;
}

.font-custom {
  font-family: 'Custom', "Arial Black", serif;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.logo-margin{
  margin-bottom: 5px;
}

.navbar {
  justify-content: space-between;
}

@media (max-width: 991px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  .navbar-collapse {
    justify-content: center !important;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Change it to your desired background color */
  }

  .dropdown {
    position: static !important;
  }

}

.dropdown-menu {
  right: 0; /* Align the dropdown menu to the right */
  left: auto; /* Ensure it's not positioned to the left */
  top: auto;
}



