.white-dropdown-arrow::after {
  border-top-color: white;
}

.font-custom {
  font-family: 'Custom', "Arial Black", serif;
  color: white;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.logo-margin {
  margin-bottom: 5px;
}

.active {
  text-decoration: none;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 50%;
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 10px;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 50%;
    opacity: 1;
  }
}

.text-custom-color {
  color: #e0e0e0;
}

.header-image {
  background-image: url('src/assets/images/kolky.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;

}

.cursor {
  cursor: pointer;
}

.header {
  position: relative;
  height: 20rem;
  background-color: rgb(16 23 61 / 91%);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke=' rgba(245, 235, 235, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary-sub {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.container-fluid {
  max-width: 1400px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}





