.white-dropdown-arrow::after {
  border-top-color: white;
}

.font-custom {
  font-family: 'Custom', "Arial Black", serif;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.logo-margin{
  margin-bottom: 5px;
}

.navbar {
  justify-content: space-between;
}

@media (max-width: 991px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  .navbar-collapse {
    justify-content: center !important;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
  }

  .dropdown {
    position: fixed; /* Set it to fixed */
    top: 50px; /* Adjust the top position as needed */
    right: 25px; /* Adjust the right position as needed */
  }

  .navbar-brand {
    margin-right: calc(50vw - 67px); /* Calculate the margin dynamically */
  }


}

.dropdown-menu {
  right: 0;
  left: auto;
  top: auto;
}

.active {
  text-decoration: none;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  left: 50%; /* Center the line horizontally under the nav item */
  transform: translateX(-50%); /* Adjust to center the line */
  bottom: -5px; /* Adjust to position the line */
  width: 50%; /* Set the width to half the size */
  height: 4px;
  background-color: black;
  border-radius: 10px;
}


