<!DOCTYPE html>
<html>
<body class="bg-dark-blue bg-gradient">
<header class="p-2 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">

      <div class="justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="assets/images/KKlogo.png" alt="KKlogo" width="110" height="90">
        </a>
      </div>

      <div class="text-center d-flex flex-column align-items-center"> <!-- Use flex-column and align-items-center -->
        <span class="fs-2 text-white font-custom">Kolkársky Klub HuStra Uhrovec</span>
      </div>


      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle white-dropdown-arrow"
           data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/images/user_profile.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Tvoj Profil</a></li>
          <li><a class="dropdown-item" href="#">Nastavenia</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Odhlásiť sa</a></li>
        </ul>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-body-tertiary rounded bg-dark text-white" aria-label="Twelfth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10"
              aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link custom-button custom-button:hover" aria-current="page" href="#">Domov</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-button custom-button:hover" href="#">Výsledky 2023/2024</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-button custom-button:hover" aria-current="page" href="#">Tabuľka 2023/2024</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle custom-button custom-button:hover" href="#" data-bs-toggle="dropdown"
               aria-expanded="false">Hráči</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item custom-button custom-button:hover" [routerLink]="['/hraci-tim-a']">Tím A</a></li>
              <li><a class="dropdown-item custom-button custom-button:hover" >Tím B</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-button custom-button:hover" href="#">História </a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-button custom-button:hover" href="#">Fotogaléria</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>
</html>
