<div class="border-top text-black ">
  <footer class="p-2 d-flex flex-column align-items-center">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/domov" class="nav-link text-black custom-button custom-button:hover text-center">Domov</a></li>
      <li class="nav-item"><a routerLink="#" class="nav-link text-black custom-button custom-button:hover text-center">Kontakt</a></li>
      <li class="nav-item"><a routerLink="/galeria" class="nav-link text-black custom-button custom-button:hover text-center">Fotogaléria</a></li>
      <li class="nav-item"><a routerLink="/historia" class="nav-link text-black custom-button custom-button:hover text-center">O nás</a></li>
    </ul>
    <p class="text-center">© 2023 KK HuStra Uhrovec</p>
    <div class="mb-2 mb-lg-0 link-body-emphasis text-decoration-none text-black">
      <a href="https://www.hustra.sk/" target="_blank" >
        <img src="assets/images/logoHustra.png" alt="hustraLogo">
      </a>
      <a routerLink="/domov" >
        <img src="assets/images/KKlogo.png" alt="KKLogo" width="100" height="80">
      </a>
    </div>
  </footer>
</div>
