<div class="footer-image">

  <footer class="text-center text-white" style="background-color: rgb(16 23 61 / 91%);">

    <div class="container">

      <section>

        <div class="row text-center d-flex justify-content-center pt-5">

          <div class="col-md-2" style="margin: 1rem">
            <h6 class="text-uppercase font-weight-bold">
              <a routerLink="/domov" class="text-white">Domov</a>
            </h6>
          </div>

          <div class="col-md-2" style="margin: 1rem">
            <h6 class="text-uppercase font-weight-bold">
              <a routerLink="/galeria" class="text-white">Galéria</a>
            </h6>
          </div>

          <div class="col-md-2" style="margin: 1rem">
            <h6 class="text-uppercase font-weight-bold">
              <a routerLink="/historia" class="text-white">O nás</a>
            </h6>
          </div>

        </div>

      </section>

      <hr class="my-5"/>


      <section class="text-center mb-5">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-white">Hlavný partneri</a>
        </h6>
        <div class="container p-4 rounded mt-4" style="background-color: rgba(0,0,0,0.2); max-width: 55rem">
          <div class="mb-2 mb-lg-0 link-body-emphasis text-decoration-none text-black">
            <a href="https://www.hustra.sk/" target="_blank">
              <img src="assets/images/logoHustra.png" alt="hustraLogo">
            </a>
            <a href="https://pstrans.eu/"target="_blank" >
              <img src="assets/images/psTrans-logo.png" class="img-fluid" alt="psTransLogo">
            </a>
            <a href="https://www.uhrovec.sk/" target="_blank">
              <img src="assets/images/erbUHROVEC.png" class="img-fluid" style="max-height: 100px; margin: 1rem" alt="erbUhrovec">
            </a>
          </div>
        </div>
      </section>
    </div>

    <div
      class="text-center p-3"
      style="background-color: rgb(1 1 2 / 20%)"
    >
      © 2024 Copyright:
      <a class="text-white"
      >KK HuStra Uhrovec</a
      >
    </div>

  </footer>

</div>
