<div>

  <footer class="text-center text-white" style="background-color: #364281">

    <div class="container">

      <section>

        <div class="row text-center d-flex justify-content-center pt-5">

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Domov</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Kontakt</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Galéria</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">O nás</a>
            </h6>
          </div>

        </div>

      </section>

      <hr class="my-5"/>


      <section class="text-center mb-5">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="text-white">Hlavný partneri</a>
        </h6>
        <div class="container p-4">
          <div class="mb-2 mb-lg-0 link-body-emphasis text-decoration-none text-black">
            <a href="https://www.hustra.sk/" target="_blank">
              <img src="assets/images/logoHustra.png" alt="hustraLogo">
            </a>
            <a href="https://pstrans.eu/">
              <img src="assets/images/psTrans-logo.png" class="img-fluid" alt="KKLogo">
            </a>
          </div>
        </div>
      </section>
    </div>

    <div
      class="text-center p-3"
      style="background-color: rgb(1 1 2 / 20%)"
    >
      © 2024 Copyright:
      <a class="text-white"
      >KK HuStra Uhrovec</a
      >
    </div>

  </footer>

</div>
