<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabulka</title>
</head>

<body>
<div class="container px-3 py-5 ">
  <div class="pb-2 dropdown border-bottom d-flex align-items-center justify-content-between">
    <h2>Tabuľka 2023/2024</h2>
    <button id="leagueDropdown" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Vyber ligu
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item custom-button" href="#">1.KL Západ</a></li>
      <li><a class="dropdown-item custom-button" href="#">3.liga TN kraja</a></li>
    </ul>
  </div>


  <div class="container text-center table-responsive">
    <table id="table1" class="table tab-content table-sm table-hover colored box">
      <thead>
      <tr>
        <th class="text-center">
            <span>#</span>
        </th>
        <th class="text-center">
            <span>Klub</span>
        </th>
        <th class="text-center">
            <span>Záp.</span>
        </th>
        <th class="text-center d-sm-table-cell">
            <span>V</span>
        </th>
        <th class="text-center d-sm-table-cell">
            <span>R</span>
        </th>
        <th class="text-center d-sm-table-cell">
          <span>P</span>
        </th>
        <th class="text-center d-md-table-cell">
            <span>Skóre</span>
        </th>
        <th class="text-center d-md-table-cell">
            <span>Sety</span>
        </th>
        <th class="text-center d-md-table-cell">
            <span>Priemer</span>
        </th>
        <th class="text-center">
            <span>Body</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">1.</td>
        <td class="font-weight-bold">
          <a href="https://vysledky.kolky.sk/team/detail/327/4565/TJ-Slovan-Duslo-Sala" class="text-decoration-none a-text-custom">TJ Slovan Duslo Šaľa</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">5</td>
        <td class="text-center d-sm-table-cell">0</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-md-table-cell">29,0:19,0</td>
        <td class="text-center d-md-table-cell">76,0:68,0</td>
        <td class="text-center d-md-table-cell">3 220</td>
        <td class="text-center font-weight-bold">10</td>
      </tr>
      <tr>
        <td class="text-center">2.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4575/KKZ-Hlohovec" class="text-decoration-none a-text-custom">KKZ Hlohovec</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">4</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-md-table-cell">31,0:17,0</td>
        <td class="text-center d-md-table-cell">79,0:65,0</td>
        <td class="text-center d-md-table-cell">3 270</td>
        <td class="text-center font-weight-bold">9</td>
      </tr>
      <tr>
        <td class="text-center">3.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4576/TJ-Rakovice" class="text-decoration-none a-text-custom">TJ Rakovice</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">3</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-sm-table-cell">2</td>
        <td class="text-center d-md-table-cell">27,5:20,5</td>
        <td class="text-center d-md-table-cell">72,5:71,5</td>
        <td class="text-center d-md-table-cell">3 265</td>
        <td class="text-center font-weight-bold">7</td>
      </tr>
      <tr>
        <td class="text-center">4.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4573/TKK-Trencin-KWH" class="text-decoration-none a-text-custom">TKK Trenčín KWH</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">3</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-sm-table-cell">2</td>
        <td class="text-center d-md-table-cell">26,0:22,0</td>
        <td class="text-center d-md-table-cell">74,5:69,5</td>
        <td class="text-center d-md-table-cell">3 312</td>
        <td class="text-center font-weight-bold">7</td>
      </tr>
      <tr>
        <td class="text-center">5.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4569/MKK-Piestany" class="text-decoration-none a-text-custom">MKK Piešťany</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">3</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-sm-table-cell">2</td>
        <td class="text-center d-md-table-cell">26,0:22,0</td>
        <td class="text-center d-md-table-cell">72,5:71,5</td>
        <td class="text-center d-md-table-cell">3 288</td>
        <td class="text-center font-weight-bold">7</td>
      </tr>
      <tr>
        <td class="text-center">6.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4574/KK-Cabaj-Capor" class="text-decoration-none a-text-custom">KK Cabaj Čápor</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">2</td>
        <td class="text-center d-sm-table-cell">2</td>
        <td class="text-center d-sm-table-cell">2</td>
        <td class="text-center d-md-table-cell">24,5:23,5</td>
        <td class="text-center d-md-table-cell">67,5:76,5</td>
        <td class="text-center d-md-table-cell">3 256</td>
        <td class="text-center font-weight-bold">6</td>
      </tr>
      <tr>
        <td class="text-center">7.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4566/TKK-Trencin-A" class="text-decoration-none a-text-custom">TKK Trenčín A</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">3</td>
        <td class="text-center d-sm-table-cell">0</td>
        <td class="text-center d-sm-table-cell">3</td>
        <td class="text-center d-md-table-cell">23,5:24,5</td>
        <td class="text-center d-md-table-cell">81,5:62,5</td>
        <td class="text-center d-md-table-cell">3 308</td>
        <td class="text-center font-weight-bold">6</td>
      </tr>
      <tr>
        <td class="text-center">9.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4572/KK-Tatran-Bratislava-A" class="text-decoration-none a-text-custom">KK Tatran Bratislava A</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">2</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-sm-table-cell">3</td>
        <td class="text-center d-md-table-cell">21,0:27,0</td>
        <td class="text-center d-md-table-cell">65,0:79,0</td>
        <td class="text-center d-md-table-cell">3 277</td>
        <td class="text-center font-weight-bold">5</td>
      </tr>
      <tr>
        <td class="text-center">8.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4571/MKK-Stara-Tura-B" class="text-decoration-none a-text-custom">MKK Stará Turá B</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">2</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-sm-table-cell">3</td>
        <td class="text-center d-md-table-cell">21,5:26,5</td>
        <td class="text-center d-md-table-cell">70,0:74,0</td>
        <td class="text-center d-md-table-cell">3 248</td>
        <td class="text-center font-weight-bold">5</td>
      </tr>
      <tr class="table-primary">
        <td class="text-center">10.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4567/KK-Hustra-Uhrovec" class="text-decoration-none a-text-custom">KK Hustra Uhrovec</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">2</td>
        <td class="text-center d-sm-table-cell">0</td>
        <td class="text-center d-sm-table-cell">4</td>
        <td class="text-center d-md-table-cell">19,5:28,5</td>
        <td class="text-center d-md-table-cell">65,5:78,5</td>
        <td class="text-center d-md-table-cell">3 157</td>
        <td class="text-center font-weight-bold">4</td>
      </tr>
      <tr>
        <td class="text-center">11.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4568/MKK-Slovan-Galanta-A" class="text-decoration-none a-text-custom">MKK Slovan Galanta A</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-sm-table-cell">4</td>
        <td class="text-center d-md-table-cell">21,0:27,0</td>
        <td class="text-center d-md-table-cell">71,5:72,5</td>
        <td class="text-center d-md-table-cell">3 224</td>
        <td class="text-center font-weight-bold">3</td>
      </tr>
      <tr>
        <td class="text-center">12.</td>
        <td class="font-weight-bold"><a href="https://vysledky.kolky.sk/team/detail/327/4570/SK-Modranka-B" class="text-decoration-none a-text-custom">ŠK Modranka B</a></td>
        <td class="text-center">6</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-sm-table-cell">1</td>
        <td class="text-center d-sm-table-cell">4</td>
        <td class="text-center d-md-table-cell">17,5:30,5</td>
        <td class="text-center d-md-table-cell">68,5:75,5</td>
        <td class="text-center d-md-table-cell">3 190</td>
        <td class="text-center font-weight-bold">3</td>
      </tr>
      </tbody>
    </table>
      </div>
  </div>
</body>
</html>

