<body>
<div class="container px-3 py-5 ">
  <div class="pb-2 dropdown border-bottom d-flex align-items-center justify-content-between">
    <h2>1.KL Západ {{ selectedYear }}</h2>
    <button
      id="leagueYearDropdown"
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Ročník
    </button>
    <ul class="dropdown-menu">
      <div *ngFor="let year of years">
        <li>
          <a class="dropdown-item custom-button" (click)="setSelectedYear(year)" href="#"> {{ year.year }}</a>
        </li>
      </div>
    </ul>
  </div>


  <div class="container text-center table-responsive">
    <table id="table1" class="table tab-content table-sm table-hover colored box">
      <thead>
      <tr>
        <th *ngFor="let column of columns" class="text-center">
            <span>{{column}}</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let team of teams; let i = index">
        <td class="text-center">{{ i + 1 }}</td>
        <td class="font-weight-bold">
          <a href="/vysledky" class="text-decoration-none a-text-custom">{{ team.teamName }}</a>
        </td>
        <td class="text-center">{{ team.matchesPlayed }}</td>
        <td class="text-center d-sm-table-cell">{{ team.matchesWon }}</td>
        <td class="text-center d-sm-table-cell">{{ team.matchesDrawn }}</td>
        <td class="text-center d-sm-table-cell">{{ team.matchesLost }}</td>
        <td class="text-center d-md-table-cell">{{ team.average }}</td>
        <td class="text-center font-weight-bold">{{ team.points }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</body>

