<body>
<div class="container px-3 py-5 ">
  <div class="pb-2 dropdown border-bottom d-flex align-items-center justify-content-between">
    <h2>{{selectedLeague}} 2023/2024</h2>
    <button id="leagueDropdown" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Vyber ligu
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item custom-button" (click)="changeTable('1.KL Západ')"  href="#">1.KL Západ</a></li>
      <li><a class="dropdown-item custom-button" (click)="changeTable('3.liga TN kraja')"href="#">3.liga TN kraja</a></li>
    </ul>
  </div>


  <div class="container text-center table-responsive">
    <table *ngIf="selectedLeague === '1.KL Západ'" id="table1" class="table tab-content table-sm table-hover colored box">
      <thead>
      <tr>
        <th *ngFor="let column of columns" class="text-center">
            <span>{{column}}</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let team of teams">
        <td class="text-center">1</td>
        <td class="font-weight-bold">
          <a href="/vysledky" class="text-decoration-none a-text-custom">{{ team.teamName }}</a>
        </td>
        <td class="text-center">{{ team.matchesPlayed }}</td>
        <td class="text-center d-sm-table-cell">{{ team.matchesWon }}</td>
        <td class="text-center d-sm-table-cell">{{ team.matchesDraw }}</td>
        <td class="text-center d-sm-table-cell">{{ team.matchesLost }}</td>
        <td class="text-center d-md-table-cell">{{ team.averageThrownFrames }}</td>
        <td class="text-center font-weight-bold">{{ team.points }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</body>

