.small-form-field {
  max-width: 100px;
}
.points-form-field {
  max-width: 100px;
}
.add-button {
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media (max-width: 1399px) {
  .add-button {
    width: 100%;
  }
}

.match {
  background-color: rgba(245, 245, 245, 0.7);
  display: flex;
  flex-direction: column;
  min-width: 282px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.head2head {
  background-color: rgba(245, 245, 245, 0.7);
  display: flex;
  flex-direction: column;
  min-width: 282px;
  max-width: 600px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.match-header {
  padding: 5px;
  max-height: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.match-tournament {
  font-weight: 600;
}

.match-content {
  display: flex;
  position: relative;
  max-height: 175px;
}

.head2head-content {
  display: flex;
  position: relative;
  max-height: 100px;
}

.column {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%/3);
}


.team {
  display: flex;
  flex-direction:column;
  align-items: center;
}


.team-name {
  text-align:center;
  font-size: 20px;
  font-weight: 600;
}

.player-name {
  text-align:center;
  font-size: 15px;
  font-weight: 600;
}

.match-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.match-point {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.player-point {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.player-points-number {
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
}

.match-points-number {
  color: rgb(38, 44, 72);
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 991px) {

  .match-points-number {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
  }
  .team-name {
    text-align:center;
    font-size: 16px;
    font-weight: 600;
  }
}

.match-score-divider {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  color: black;
  margin-left: 10px;
  margin-right: 10px;

}

.match-scores {
  display: flex;
  margin-top: 8px;
  padding-bottom: 12px;
}


.match-score {
  border: 1px solid rgb(38, 44, 72);
  background-color: #F9F9F9;
  border-radius: 4px;
  color: grey;
  font-size: 14px;
  font-weight: 600;
  cursor: text;
}

.match-show-more {
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: rgb(38, 44, 72);
  border-radius: 6px;
  padding: 6px 10px;
  max-height: 35px;
  color: white;
  font-size: 14px;
  z-index: 999;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.match-show-more:hover {
  background-color: #3f435e;
}

@media(max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .row-cols-2>* {
    flex: 0 0 auto;
    width: 100%;
  }
  .btn-margin-admin{
    margin-bottom: 5px;
  }
}

@media (max-width: 481px) {
  .btn-margin-bottom {
    margin-bottom: 5px;
  }
}

.table.tab-content.table-sm tbody tr:last-child td {
  border-bottom: none;
}



