.dialog-title {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dialog-content {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.dialog-actions button {
  margin-left: 15px;
}
.rounded-button {
  border-radius: 20px;
  margin-left: 15px;
}
