.team-name {
  width: 25%;
}

.chart-container {
  max-width: 250px;
  margin: 0 auto;
  padding: 0 0;
}

.rounded-top-left {
  border-top-left-radius: 5px;
}

.rounded-top-right {
  border-top-right-radius: 5px;
}

.rounded-bottom-left {
  border-bottom-right-radius: 5px;
}

.rounded-bottom-right {
  border-bottom-right-radius: 5px;
}

@media (max-width: 768px) {
  .chart-container {
    max-width: 150px;
  }
}

.team-photo {
  max-width: 125px;
  max-height: 125px;
}

@media (max-width: 768px) {
  .team-photo {
    max-width: 100%; /* This ensures the image will be responsive on smaller screens */
    height: auto;
  }
}

@media (max-width: 374px) {
  .hide-on-small-screen {
    display: none;
  }
}

