.team-name {
  width: 25%;
}

.chart-container {
  max-width: 250px; /* Set a maximum width for the chart container */
  margin: 0 auto; /* Center the chart container horizontally */
  padding: 0 10px; /* Add some padding to the chart container */
}

@media (max-width: 768px) {
  .chart-container {
    max-width: 150px; /* Adjust the maximum width for smaller screens */
  }
}
