<div class="container px-3 py-5">
  <div class="pb-2 dropdown border-bottom d-flex align-items-center justify-content-between">
    <h2>Porovnanie štatistík</h2>
    <button
      id="leagueYearDropdown"
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{selectedCompare}}
    </button>

    <ul class="dropdown-menu">
      <div>
        <li>
          <a class="dropdown-item custom-button" (click)="setSelectedCompare('Porovnaj Tímy');"> Porovnaj Tímy </a>
        </li>
        <li>
          <a class="dropdown-item custom-button" (click)="setSelectedCompare('Porovnaj Hráčov');"> Porovnaj Hráčov </a>
        </li>
      </div>
    </ul>
  </div>


  <div class="card mt-4">
    <div class="container text-center" style="max-width: 800px;">
      <div class="row">
        <div class="col">
          <div *ngIf="selectedCompare === 'Porovnaj Hráčov'" class="mt-4">
            <a class="text-decoration-none text-reset">
              <img src="assets/images/user_profile.jpg" class="rounded-circle border border-dark img-fluid team-photo" alt="Player Photo">
            </a>
          </div>

          <div *ngIf="selectedCompare === 'Porovnaj Tímy'" class="mt-4">
            <a class="text-decoration-none text-reset">
              <img src="assets/images/teamPhoto.jpg" class="rounded-circle border border-dark img-fluid team-photo" alt="Team Photo">
            </a>
          </div>


          <div *ngIf="selectedCompare === 'Porovnaj Tímy'">
            <input list="team1Options" class="form-control mt-3 text-center"
                   [(ngModel)]="team1"
                   (ngModelChange)="getTeam1StatisticsByName(team1); hideChartTeam1()" placeholder="Vyber tím...">
            <datalist id="team1Options">
              <option *ngFor="let team of teams" [value]="team.teamName"> {{ team.teamName }}</option>
            </datalist>
          </div>

          <div *ngIf="selectedCompare === 'Porovnaj Hráčov'">
            <input list="player1Options" class="form-control mt-3 text-center"
                   [(ngModel)]="player1"
                   (ngModelChange)="getPlayer1StatisticsByName(player1); hideChartPlayer1()"
                   placeholder="Vyber hráča...">
            <datalist id="player1Options">
              <option *ngFor="let player of players"
                      value="{{player.name}} {{player.surname}}"> {{player.name}} {{player.surname}}</option>
            </datalist>
          </div>

          <div class="mt-4">
            <button
              id="leagueYear1Dropdown"
              class="btn btn-secondary dropdown-toggle btn-sm"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ selectedYear1.year }}
            </button>

            <ul class="dropdown-menu">
              <div *ngFor="let year of years">
                <li>
                  <a class="dropdown-item custom-button" *ngIf="selectedCompare === 'Porovnaj Tímy'"
                     (click)="setSelectedYear1(year); getTeam1StatisticsByName(team1); hideChartTeam1()"
                     > {{ year.year }}</a>
                  <a class="dropdown-item custom-button" *ngIf="selectedCompare === 'Porovnaj Hráčov'"
                     (click)="setSelectedYear1(year); getPlayer1StatisticsByName(player1); hideChartPlayer1()" > {{ year.year }}</a>
                </li>
              </div>
            </ul>
          </div>

        </div>
        <div class="col mt-5 hide-on-small-screen">
          <div>
            <div class="card-body">
              VS
            </div>
          </div>
        </div>


        <div class="col">

          <div *ngIf="selectedCompare === 'Porovnaj Hráčov'" class="mt-4">
            <a class="text-decoration-none text-reset">
              <img src="assets/images/user_profile.jpg" class="rounded-circle border border-dark img-fluid team-photo" alt="Player Photo">
            </a>
          </div>

          <div *ngIf="selectedCompare === 'Porovnaj Tímy'" class="mt-4">
            <a class="text-decoration-none text-reset">
              <img src="assets/images/teamPhoto.jpg" class="rounded-circle border border-dark img-fluid team-photo" alt="Team Photo">
            </a>
          </div>

          <div *ngIf="selectedCompare === 'Porovnaj Tímy'">
            <input list="team2Options" class="form-control mt-3 text-center"
                   [(ngModel)]="team2"
                   (ngModelChange)="getTeam2StatisticsByName(team2); hideChartTeam2()" placeholder="Vyber tím...">
            <datalist id="team2Options">
              <option *ngFor="let team of teams" [value]="team.teamName"> {{ team.teamName }}</option>
            </datalist>
          </div>

          <div *ngIf="selectedCompare === 'Porovnaj Hráčov'">
            <input list="player2Options" class="form-control mt-3 text-center"
                   [(ngModel)]="player2"
                   (ngModelChange)="getPlayer2StatisticsByName(player2); hideChartPlayer2()"
                   placeholder="Vyber hráča...">
            <datalist id="player2Options">
              <option *ngFor="let player of players"
                      value="{{player.name}} {{player.surname}}"> {{player.name}} {{player.surname}}</option>
            </datalist>
          </div>

          <div class="mt-4">
            <button
              id="leagueYear2Dropdown"
              class="btn btn-secondary dropdown-toggle btn-sm"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ selectedYear2.year }}
            </button>

            <ul class="dropdown-menu">
              <div *ngFor="let year of years">
                <li>
                  <a class="dropdown-item custom-button" *ngIf="selectedCompare === 'Porovnaj Tímy'"
                     (click)="setSelectedYear2(year); getTeam2StatisticsByName(team2); hideChartTeam2()"> {{ year.year }}</a>
                  <a class="dropdown-item custom-button" *ngIf="selectedCompare === 'Porovnaj Hráčov'"
                     (click)="setSelectedYear2(year); getPlayer2StatisticsByName(player2); hideChartPlayer2()"> {{ year.year }}</a>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center mt-4" *ngIf="selectedCompare === 'Porovnaj Tímy'" style="max-width: 800px;">
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
            <tr>
              <th class="text-end team-name rounded-top-left">
                <a>{{team1Object?.matchesPlayed}} </a>
                <ng-container *ngIf="team1Object?.matchesPlayed >= team2Object?.matchesPlayed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="team1Object?.matchesPlayed < team2Object?.matchesPlayed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>

                  </svg>
                </ng-container>
              </th>
              <td>ODOHRANÉ ZÁPASY</td>
              <th class="text-start team-name rounded-top-right">
                <ng-container *ngIf="team2Object?.matchesPlayed >= team1Object?.matchesPlayed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="team2Object?.matchesPlayed < team1Object?.matchesPlayed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                  </svg>
                </ng-container>
                <a> {{team2Object?.matchesPlayed}}</a>
              </th>
            </tr>
            <tr>

              <th class="text-end team-name">
                <a *ngIf="team1">
                  {{team1Object?.matchesWon}} / {{team1Object?.matchesDrawn}}
                  / {{team1Object?.matchesLost}}
                </a>
              </th>
              <td>VÝHRY / REMÍZY / PREHRY</td>
              <th class="text-start team-name">
                <a *ngIf="team2"> {{team2Object?.matchesWon}} / {{team2Object?.matchesDrawn}}
                  / {{team2Object?.matchesLost}}
                </a>
              </th>

            </tr>
            <tr>
              <th class="text-end team-name">
                <a>{{team1Object?.average | number:'1.1-2' }} </a>
                <ng-container *ngIf="team1Object?.average >= team2Object?.average">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="team1Object?.average < team2Object?.average">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>

                  </svg>
                </ng-container>
              </th>
              <td>PRIEMER</td>
              <th class="text-start team-name">
                <ng-container *ngIf="team2Object?.average >= team1Object?.average">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="team2Object?.average < team1Object?.average">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                  </svg>
                </ng-container>
                <a> {{team2Object?.average | number:'1.1-2' }}</a>
              </th>
            </tr>
            <tr>
              <th class="text-end team-name rounded-bottom-left">
                <a>{{team1Object?.points}} </a>
                <ng-container *ngIf="team1Object?.points >= team2Object?.points">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="team1Object?.points < team2Object?.points">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>

                  </svg>
                </ng-container>
              </th>
              <td>BODY</td>
              <th class="text-start team-name rounded-bottom-right">
                <ng-container *ngIf="team2Object?.points >= team1Object?.points">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="team2Object?.points < team1Object?.points">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                  </svg>
                </ng-container>
                <a> {{team2Object?.points}}</a>
              </th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container text-center mt-4" *ngIf="selectedCompare === 'Porovnaj Hráčov'" style="max-width: 800px;">

      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
            <tr>
              <th class="text-end team-name rounded-top-left">{{ player1Object?.teamName}}</th>
              <td>TÍM</td>
              <th class="text-start team-name rounded-top-right">{{player2Object?.teamName}}</th>
            </tr>
            <tr>
              <th class="text-end">{{player1Object?.age}}</th>
              <td>VEK</td>
              <th class="text-start">{{player2Object?.age}}</th>
            </tr>
            <tr>
              <th class="text-end">
                <a>{{ player1Object?.matchesPlayed }} </a>
                <ng-container *ngIf="player1Object?.matchesPlayed >= player2Object?.matchesPlayed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="player1Object?.matchesPlayed < player2Object?.matchesPlayed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>

                  </svg>
                </ng-container>
              </th>
              <td>ODOHRANÉ ZÁPASY</td>
              <th class="text-start">
                <ng-container *ngIf="player2Object?.matchesPlayed >= player1Object?.matchesPlayed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="player2Object?.matchesPlayed < player1Object?.matchesPlayed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                  </svg>
                </ng-container>
                <a> {{ player2Object?.matchesPlayed }}</a>
              </th>
            </tr>
            <tr>
              <th class="text-end">
                <a>{{player1Object?.average | number:'1.1-2' }} </a>
                <ng-container *ngIf="player1Object?.average >= player2Object?.average">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="player1Object?.average < player2Object?.average">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>

                  </svg>
                </ng-container>
              </th>
              <td>PRIEMER</td>
              <th class="text-start">
                <ng-container *ngIf="player2Object?.average >= player1Object?.average">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="player2Object?.average < player1Object?.average">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                  </svg>
                </ng-container>
                <a> {{player2Object?.average | number:'1.1-2' }}</a>
              </th>
            </tr>
            <tr>
              <th class="text-end">
                <a>{{player1Object?.playerBest}} </a>
                <ng-container *ngIf="player1Object?.playerBest >= player2Object?.playerBest">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="player1Object?.playerBest < player2Object?.playerBest">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>

                  </svg>
                </ng-container>
              </th>
              <td>NAJLEPŠÍ VÝKON</td>
              <th class="text-start">
                <ng-container *ngIf="player2Object?.playerBest >= player1Object?.playerBest">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="player2Object?.playerBest < player1Object?.playerBest">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                  </svg>
                </ng-container>
                <a> {{player2Object?.playerBest}}</a>
              </th>
            </tr>
            <tr>
              <th class="text-end">
                <a>{{player1Object?.playerWorst}} </a>
                <ng-container *ngIf="player1Object?.playerWorst >= player2Object?.playerWorst">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="player1Object?.playerWorst < player2Object?.playerWorst">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>

                  </svg>
                </ng-container>
              </th>
              <td>NAJHORŠÍ VÝKON</td>
              <th class="text-start">
                <ng-container *ngIf="player2Object?.playerWorst >= player1Object?.playerWorst">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: green;">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </ng-container>
                <ng-container *ngIf="player2Object?.playerWorst < player1Object?.playerWorst">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                       class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" style="fill: red;">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                  </svg>
                </ng-container>
                <a> {{player2Object?.playerWorst}}</a>
              </th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container text-center mt-4" *ngIf="selectedCompare === 'Porovnaj Tímy'" style="max-width: 800px;">
      <div class="text-center border-bottom" *ngIf="showChartTeam1 || showChartTeam2">
        <h2>Bilancia výsledkov</h2>
      </div>
      <div class="row">
        <div class="col" *ngIf="showChartTeam1">
          <div class="chart-container">
            <canvasjs-chart [options]="chartTeam1" [styles]="{height:'260px'}"
                            style="max-width: 100%;"></canvasjs-chart>
          </div>
        </div>

        <div class="col" *ngIf="showChartTeam2">
          <div class="chart-container">
            <canvasjs-chart [options]="chartTeam2" [styles]="{height:'260px'}"
                            style="max-width: 100%;"></canvasjs-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center mt-4" *ngIf="selectedCompare === 'Porovnaj Hráčov'" style="max-width: 800px;">
      <div class="text-center border-bottom" *ngIf="showChartPlayer1 || showChartPlayer2">
        <h2>Úspešnosť bodov</h2>
      </div>
      <div class="row">
        <div class="col" *ngIf="showChartPlayer1">
          <div class="chart-container">
            <canvasjs-chart [options]="chartPlayer1" [styles]="{height:'260px'}"
                            style="max-width: 100%;"></canvasjs-chart>
          </div>
        </div>

        <div class="col" *ngIf="showChartPlayer2">
          <div class="chart-container">
            <canvasjs-chart [options]="chartPlayer2" [styles]="{height:'260px'}"
                            style="max-width: 100%;"></canvasjs-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

