<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historia</title>
</head>
<body>
<div class="container">
  <h2>História klubu KK Hustra Uhrovec</h2>
  <div class="article">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget quam nec ante interdum gravida.
      In at consectetur metus. Maecenas facilisis nulla in enim congue rutrum. Praesent at dapibus purus.
      Donec consequat nibh et mauris bibendum, et elementum nisl dignissim. Nam turpis lorem, iaculis non feugiat at, mattis vitae arcu.
      Aliquam est dui, euismod id nibh id, fringilla convallis quam. Sed tincidunt mi pharetra sodales tempus.
      Maecenas accumsan posuere ante maximus pharetra.
      Etiam rutrum vitae urna vel malesuada. Aliquam quis tortor ornare arcu vehicula ultricies suscipit vel sapien.
      Morbi ut pulvinar nisi. Aenean sed orci dignissim, accumsan elit nec, egestas quam.
    </p>
    <img src="assets/images/history.jpg" alt="history" width="350">
  </div>
  <div class="article">
    <p>
      Nam sit amet porttitor leo, vitae posuere ligula. Etiam urna eros, laoreet at erat ut, molestie fermentum sapien.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras pretium maximus diam, eu ultricies orci pulvinar vel.
      Morbi ut pulvinar nisi. Aenean sed orci dignissim, accumsan elit nec, egestas quam.
      Nullam posuere eros a eros blandit, et pulvinar ipsum pellentesque.
      Aenean finibus, nisl nec gravida semper, nulla est tempus ante, a rhoncus magna ante in ex.
      Nam scelerisque lacus nulla, mollis molestie erat sagittis vel.
      Etiam pulvinar risus tempor neque placerat, ut congue dui venenatis. Fusce dignissim congue lacus id consectetur.
      Vestibulum pellentesque feugiat dui eu pretium.
      Nulla ac dui et ante pharetra fringilla. Aliquam venenatis viverra vestibulum.
    </p>
  </div>

  <div class="article2">
    <img src="assets/images/history2.jpg" alt="history" width="450">
      <p>
        Nam sit amet porttitor leo, vitae posuere ligula. Etiam urna eros, laoreet at erat ut, molestie fermentum sapien.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Cras pretium maximus diam, eu ultricies orci pulvinar vel.
        Morbi ut pulvinar nisi. Aenean sed orci dignissim, accumsan elit nec, egestas quam.
        Nullam posuere eros a eros blandit, et pulvinar ipsum pellentesque.
        Aenean finibus, nisl nec gravida semper, nulla est tempus ante, a rhoncus magna ante in ex.
        Nam scelerisque lacus nulla, mollis molestie erat sagittis vel.
        Etiam pulvinar risus tempor neque placerat, ut congue dui venenatis. Fusce dignissim congue lacus id consectetur.
        Vestibulum pellentesque feugiat dui eu pretium.
        Nulla ac dui et ante pharetra fringilla. Aliquam venenatis viverra vestibulum.
      </p>
  </div>
  <div class="article">
    <p>
      Nam sit amet porttitor leo, vitae posuere ligula. Etiam urna eros, laoreet at erat ut, molestie fermentum sapien.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras pretium maximus diam, eu ultricies orci pulvinar vel.
      Morbi ut pulvinar nisi. Aenean sed orci dignissim, accumsan elit nec, egestas quam.
      Nullam posuere eros a eros blandit, et pulvinar ipsum pellentesque.
      Aenean finibus, nisl nec gravida semper, nulla est tempus ante, a rhoncus magna ante in ex.
      Nam scelerisque lacus nulla, mollis molestie erat sagittis vel.
      Etiam pulvinar risus tempor neque placerat, ut congue dui venenatis. Fusce dignissim congue lacus id consectetur.
      Vestibulum pellentesque feugiat dui eu pretium.
      Nulla ac dui et ante pharetra fringilla. Aliquam venenatis viverra vestibulum.
    </p>
  </div>
</div>
</body>
</html>
