<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hraci-A</title>
</head>
<body>
<div class="container px-3 py-5" id="team-a">
  <h2 class="pb-2 border-bottom">KK HuStra Uhrovec "A"</h2>
  <div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <a href="https://vysledky.kolky.sk/player/detail/19417/Misina-Juraj" class="text-decoration-none text-reset">
        <img src="assets/images/user_profile.jpg" alt="Player 1" width="110" height="110" class="rounded-circle">
        <p>Mišina Juraj</p>
        </a>
      </div>

      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <a href="https://vysledky.kolky.sk/player/detail/19317/Sitar-Pavol" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 2" width="110" height="110" class="rounded-circle">
        <p>Sitár Pavol</p>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <a href="https://vysledky.kolky.sk/player/detail/19319/Sukenik-Marek" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 3" width="110" height="110" class="rounded-circle">
          <p>Súkeník Marek</p>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <a href="https://vysledky.kolky.sk/player/detail/19305/Danaj-Vladimir" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 4" width="110" height="110" class="rounded-circle">
          <p>Danaj Vladimír</p>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <a href="https://vysledky.kolky.sk/player/detail/19309/Misina-Marian" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 5" width="110" height="110" class="rounded-circle">
          <p>Mišina Marián</p>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <a href="https://vysledky.kolky.sk/player/detail/20088/Cernan-Vladimir" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 6" width="110" height="110" class="rounded-circle">
          <p>Čerňan Vladimír</p>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <a href="https://vysledky.kolky.sk/player/detail/19245/Petreje-Pavol" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 7" width="110" height="110" class="rounded-circle">
          <p>Petreje Pavol</p>
        </a>
      </div>
    </div>
  </div>
</div>
</body>

</html>
