<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container px-3 py-5" id="team-a">
  <h2 class="pb-2 border-bottom">KK HuStra Uhrovec "A"</h2>
  <div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <img src="assets/images/user_profile.jpg" alt="Player 1" width="110" height="110" class="rounded-circle">
        <p>Mišina Juraj</p>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <img src="assets/images/user_profile.jpg" alt="Player 2" width="110" height="110" class="rounded-circle">
        <p>Sitár Pavol</p>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <img src="assets/images/user_profile.jpg" alt="Player 3" width="110" height="110" class="rounded-circle">
        <p>Súkeník Marek</p>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <img src="assets/images/user_profile.jpg" alt="Player 4" width="110" height="110" class="rounded-circle">
        <p>Danaj Vladimír</p>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <img src="assets/images/user_profile.jpg" alt="Player 5" width="110" height="110" class="rounded-circle">
        <p>Mišina Marián</p>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <img src="assets/images/user_profile.jpg" alt="Player 6" width="110" height="110" class="rounded-circle">
        <p>Čerňan Vladimír</p>
      </div>
      <div class="col-6 col-sm-4 col-md-3 custom-button">
        <img src="assets/images/user_profile.jpg" alt="Player 7" width="110" height="110" class="rounded-circle">
        <p>Petreje Pavol</p>
      </div>
    </div>
  </div>
</div>
</body>

</html>
