.text-primary, a.text-primary:focus, a.text-primary:hover {
  color: rgba(0, 0, 0, 0.82) !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.wobble-vertical-left {
  animation: wobble-vertical-left .8s linear both;
}

.animate {
  animation-name: wobble-vertical-left;
}

@keyframes wobble-vertical-left {
  0%, 100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}

.col-sm-6, .col-sm-6.flex-ew {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.col-sm-6.visible, .col-sm-6.flex-ew.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 574px) {
  .border-none {
    border-bottom: none !important;
  }
}


