.icon-1x {
  font-size: 24px !important;
}
a{
  text-decoration:none;
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
  color: rgba(0, 0, 0, 0.82) !important;
}
.text-blue, .text-hover-blue:hover {
  color: #0849ec !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}

.btn.ion-heart:hover {
  color: rgba(178, 4, 18, 0.83);
}

.comment-button {
  background-color: transparent;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  border: 1px solid transparent;
}

.comment-button:hover {
  border-color: rgb(38, 44, 72) !important;
  color: #343a40;
}
