<div id="carouselExampleAutoplaying" class="carousel slide bg-dark " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let image of images; let i = index" [class.active]="i === 0">
      <a>
        <div class="carousel-image">
          <img [src]="'http://localhost:8080/api/v1/image/' + image.name" class="d-block mx-auto w-75" style="max-height: 750px;" [alt]="image.alt">
          <div class="overlay"></div>
        </div>
      </a>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5 py-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pridať fotku</h5>
          <form>
            <div class="mb-3">
              <label for="fileInput" class="form-label">Vyberte súbor s fotkou:</label>
              <input type="file" class="form-control" id="fileInput" (change)="selectFile($event)" accept="image/*" />
            </div>
            <div class="d-grid">
              <button type="button" class="btn btn-outline-primary" (click)="uploadFile()">Pridať</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
