
<div id="carouselExampleAutoplaying" class="carousel slide bg-dark py-3" data-bs-ride="carousel">
  <div class="carousel-inner" style="overflow: hidden;">
    <div class="carousel-item" *ngFor="let image of images; let i = index" [class.active]="i === 0">
      <a>
        <div class="carousel-image">
          <img [src]="'http://localhost:8080/api/v1/image/' + image.name" class="d-block mx-auto w-50" [alt]="image.alt">
          <button type="button" class="btn-close custom-button-image position-absolute top-0 end-0 mt-0" style="z-index: 100"
                  aria-label="Close" *ngIf="isAdmin()" (click)="confirmDelete($event,image.id)">
          </button>

          <button type="button" class="btn btn-success position-absolute bottom-0 end-0 mt-0 button-small" style="z-index: 150;"
                  aria-label="Add" *ngIf="isAdmin()" data-bs-toggle="modal" data-bs-target="#addImageModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-upload icon" viewBox="0 0 16 16">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
              <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"></path>
            </svg>
          </button>
          <div class="overlay"></div>
        </div>

      </a>
    </div>
  </div>

  <ol class="carousel-indicators">
    <button *ngFor="let image of images; let i = index" [class.active]="i === 0" data-bs-target="#carouselExampleAutoplaying" [attr.data-bs-slide-to]="i"></button>
  </ol>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="modal fade" id="addImageModal" tabindex="-1" aria-labelledby="addImageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 450px;">
    <div class=" modal-content text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pridať fotku</h5>
          <form>
            <div class="mb-3">
              <label for="fileInput" class="form-label">Vyberte súbor s fotkou:</label>
              <input type="file" class="form-control" id="fileInput" (change)="selectFile($event)" accept="image/*" />
            </div>
            <div class="d-grid">
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="uploadFile()">Pridať</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



