.profile-picture-container {
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.add-button {
  height: 210px;
}
