.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  flex: 1;
  position: relative;
  margin-top: 170px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}




