<div class="container px-3 py-5 body-min-height">
  <div class="pb-2 dropdown d-flex align-items-center justify-content-between border-bottom">
    <h2>Nasledujúce zápasy</h2>
    <button
      id="matchesDropdown"
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{selectedFilter}}
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item custom-button" (click)="getAllMatches(); setSelectedFilter('Všetky zápasy')">Všetky zápasy</a>
      </li>
      <li>
        <a class="dropdown-item custom-button" (click)="getMatchesUhrovec(); setSelectedFilter('Zápasy Uhrovec')">Zápasy Uhrovec</a>
      </li>
    </ul>
  </div>

  <div class="row row-cols-1 py-3">
    <div *ngFor="let match of matches" class="container match-margin" id="zapasy1">
      <mat-card>
        <mat-card-content>
          <button type="button" class="btn-close custom-button position-absolute top-0 end-0 me-50 mt-0 aria"
                  aria-label="Close" *ngIf="isAdmin()" (click)="confirmDelete($event,match)">
          </button>
          <div class="match-container w-100">
            <div class="date">
              {{ match.date }}
            </div>
            <div class="teamHome">
              {{ match.teamHome.teamName }}
            </div>
            <div>
              VS
            </div>
            <div class="teamAway">
              {{ match.teamAway.teamName }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <button class="btn btn-circle btn-light btn-lg add-button" data-bs-toggle="modal" data-bs-target="#addMatchModal"
            *ngIf="isAdmin()">
      <span class="fw-bold text-black">+</span>Pridať
    </button>
  </div>
</div>

<div class="modal fade" id="addMatchModal" tabindex="-1" aria-labelledby="addMatchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 950px;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addMatchLabel">Pridať zápas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">

        <div class="row">
          <!---DATE---->
          <div class="col-12 col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Vyber dátum</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="dateShow" readonly required
                     (ngModelChange)="onDateSelected($event);">
              <mat-hint>DD/MM/RRRR</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <!---TEAM HOME---->
          <div class="col-12 col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Tím Domáci</mat-label>
              <mat-select [(ngModel)]="match.teamHome" required>
                <mat-option *ngFor="let team of teams" [value]="team">{{ team.teamName }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <!-- VS SIGN -->
          <div class="col-12 col-md-1 text-center vsMargin">
            <h5>VS</h5>
          </div>

          <!---TEAM AWAY---->
          <div class="col-12 col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Tím Hostia</mat-label>
              <mat-select [(ngModel)]="match.teamAway" required>
                <mat-option *ngFor="let team of teams" [value]="team">{{team.teamName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div class="d-flex justify-content-end modal-footer">
          <button type="submit" mat-raised-button color="basic" [disabled]="!isFormValid()" data-bs-dismiss="modal"
                  (click)="addMatch()">Pridať zápas
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
