<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hraci-B</title>
</head>
<body>
<div class="container px-3 py-5" id="team-b">
  <h2 class="pb-2 border-bottom">KK HuStra Uhrovec "B"</h2>
  <div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ">
      <div class="col custom-button custom-button:hover">
        <a href="https://vysledky.kolky.sk/player/detail/169970/Maslak-Boris" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 1" width="110" height="110" class="rounded-circle">
          <p>Maslák Boris</p>
        </a>
      </div>
      <div class="col custom-button custom-button:hover">
        <a href="https://vysledky.kolky.sk/player/detail/169300/Danaj-Jan" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 2" width="110" height="110" class="rounded-circle">
          <p>Danaj Ján</p>
        </a>
      </div>
      <div class="col custom-button custom-button:hover">
        <a href="https://vysledky.kolky.sk/player/detail/19624/Galis-Dusan" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 3" width="110" height="110" class="rounded-circle">
          <p>Galis Dušan</p>
        </a>
      </div>
      <div class="col custom-button custom-button:hover">
        <a href="https://vysledky.kolky.sk/player/detail/19460/Oksa-Milan" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 4" width="110" height="110" class="rounded-circle">
          <p>Okša Milan</p>
        </a>
      </div>
      <div class="col custom-button custom-button:hover">
        <a href="https://vysledky.kolky.sk/player/detail/20695/Dubravicky-Jan" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 5" width="110" height="110" class="rounded-circle">
          <p>Dúbravický Ján</p>
        </a>
      </div>
      <div class="col custom-button custom-button:hover">
        <a href="https://vysledky.kolky.sk/player/detail/20715/Orsagh-Ivan" class="text-decoration-none text-reset">
          <img src="assets/images/user_profile.jpg" alt="Player 6" width="110" height="110" class="rounded-circle">
          <p>Orságh Ivan</p>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>

