<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vysledky</title>
</head>
<body>
<div class="container px-3 py-5" id="vysledky">
  <div class="pb-1 dropdown border-bottom d-flex align-items-center  justify-content-between">
    <h2 class="text-center ">Výsledky 2023/2024</h2>
    <button id="leagueDropdown" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Vyber ligu
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item custom-button" href="#">1.KL Západ</a></li>
      <li><a class="dropdown-item custom-button" href="#">3.liga TN kraja</a></li>
    </ul>
  </div>

  <a href="https://vysledky.kolky.sk/match/detail/40828/KK-Hustra-Uhrovec-vs-KK-Cabaj-Capor" class="text-decoration-none text-reset">
    <div class="match-container">
      <div class="team my-team-bold">
        KK Hustra Uhrovec
      </div>
      <div>
        3185
      </div>
      <div class="result">
        2.5 - 5.5
      </div>
      <div>
        3205
      </div>
      <div class="team">
        KK Cabaj Čápor
      </div>
    </div>
  </a>

  <a href="https://vysledky.kolky.sk/match/detail/40836/KKZ-Hlohovec-vs-KK-Hustra-Uhrovec" class="text-decoration-none text-reset">
    <div class="match-container">
      <div class="team">
        KKZ Hlohovec
      </div>
      <div>
        3220
      </div>
      <div class="result">
        6.0 - 2.0
      </div>
      <div>
        3085
      </div>
      <div class="team my-team-bold">
        KK Hustra Uhrovec
      </div>
    </div>
  </a>

  <a href="https://vysledky.kolky.sk/match/detail/40839/KK-Hustra-Uhrovec-vs-TJ-Slovan-Duslo-Sala" class="text-decoration-none text-reset">
    <div class="match-container">
      <div class="team my-team-bold">
        KK Hustra Uhrovec
      </div>
      <div>
        3187
      </div>
      <div class="result">
        2.0 - 6.0
      </div>
      <div>
        3203
      </div>
      <div class="team">
        TJ Slovan Duslo Šaľa
      </div>
    </div>
  </a>

  <a href="https://vysledky.kolky.sk/match/detail/40849/TKK-Trencin-A-vs-KK-Hustra-Uhrovec" class="text-decoration-none text-reset">
    <div class="match-container bg-win">
      <div class="team">
        TKK Trenčín A
      </div>
      <div>
        3281
      </div>
      <div class="result">
        2.0 - 6.0
      </div>
      <div>
        3299
      </div>
      <div class="team my-team-bold ">
        KK Hustra Uhrovec
      </div>
    </div>
  </a>

  <a href="https://vysledky.kolky.sk/match/detail/40850/KK-Hustra-Uhrovec-vs-TJ-Rakovice" class="text-decoration-none text-reset">
    <div class="match-container">
      <div class="team my-team-bold">
        KK Hustra Uhrovec
      </div>
      <div>
        3221
      </div>
      <div class="result">
        2.0 - 6.0
      </div>
      <div>
        3270
      </div>
      <div class="team">
        TJ Rakovice
      </div>
    </div>
  </a>

  <a href="https://vysledky.kolky.sk/match/detail/40861/KK-Hustra-Uhrovec-vs-MKK-Slovan-Galanta-A" class="text-decoration-none text-reset">
    <div class="match-container bg-win">
      <div class="team my-team-bold ">
        KK Hustra Uhrovec
      </div>
      <div>
        3256
      </div>
      <div class="result">
        5.0 - 3.0
      </div>
      <div>
        3222
      </div>
      <div class="team">
        MKK Slovan Galanta A
      </div>
    </div>
  </a>
</div>
</body>
</html>
