body{}
.avatar{
  width:100px;
  height:100px;
}

.rounded-button {
  border-radius: 20px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #f8f8f8;
}
