<div class="container px-3 py-5  body-min-height">
  <h2 class="pb-2 d-flex align-items-center justify-content-between border-bottom" style="color: rgb(38, 44, 72);">Profil</h2>
  <div class="row">
    <div class="col-md-9">
      <div class="personal-info border rounded p-4">
        <h3>Uživateľské informácie</h3>
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label class="col-lg-3 control-label">Používateľské meno:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="userDetails.userName"
                     [ngModelOptions]="{standalone: true}" (ngModelChange)="onUsernameChange()">
              <div *ngIf="isUsernameInvalid()" class="text-danger">Používateľské meno musí byť dlhé aspoň 8 znakov.</div>
              <div *ngIf="usernameErrorMessage" class="text-danger">{{ usernameErrorMessage }}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="userDetails.email"
                     [ngModelOptions]="{standalone: true}" (ngModelChange)="onEmailChange()">
              <div *ngIf="isEmailInvalid()" class="text-danger">Neplatná e-mailová adresa.</div>
              <div *ngIf="emailErrorMessage" class="text-danger">{{ emailErrorMessage }}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Heslo:</label>
            <div class="col-lg-8">
              <input class="form-control" type="password" [(ngModel)]="passwordInput"
                     [ngModelOptions]="{standalone: true}" (focus)="clearPassword()" (blur)="hidePassword()"
                     [attr.placeholder]="passwordPlaceholder" (ngModelChange)="onPasswordChange()">
              <div *ngIf="isPasswordInvalid()" class="text-danger">Heslo musí byť dlhé aspoň 8 znakov.</div>
            </div>
          </div>
        </form>
        <div class="mt-4">
          <button mat-raised-button color="primary" (click)="confirmEdit()" class="rounded-button"
                  [disabled]="isUsernameInvalid() || isEmailInvalid() || isPasswordInvalid() || !isProfileChanged
                  || !areChangesMade() || this.usernameErrorMessage != null
                  || this.emailErrorMessage != null ">Uložiť zmeny
          </button>
          <div class="mt-4">
            <button mat-raised-button color="warn" (click)="confirmDelete()" class="rounded-button">Zrušiť účet</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4 mt-md-0">
      <div class="text-center">
          <img *ngIf="userDetails.role === 'ADMIN'" src="assets/images/adminLOGO.png" class="img-fluid img-thumbnail" alt="avatar" title="Admin">
          <img *ngIf="userDetails.role === 'FAN'" src="assets/images/fanLOGO.png" class="img-fluid img-thumbnail" alt="avatar" title="Fanúšik">
          <img *ngIf="userDetails.role === 'PLAYER'" src="assets/images/playerLOGO.png" class="img-fluid img-thumbnail" alt="avatar" title="Hráč klubu">
      </div>
    </div>
  </div>
</div>
