.bg-dark-blue {
  background-color: #000080;
}

.custom-button {
  background-color: transparent;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;
}


.custom-button:hover {
  background-color: #cccccc;
  color: #343a40;
  text-decoration: none;
  cursor: pointer;
}

.custom-height {
  height: 560px;
}




