<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<div id="carouselExampleAutoplaying" class="carousel slide bg-light" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <a href="https://vysledky.kolky.sk/match/detail/40861/KK-Hustra-Uhrovec-vs-MKK-Slovan-Galanta-A" >
      <div class="carousel-image">
        <img src="assets/images/pobedim_zapas.png" class="d-block mx-auto w-75 rounded-custom" alt="zapas-car">
        <div class="overlay"></div>
      </div>
      <div class="carousel-caption">
        <h3>KK Hustra Uhrovec - MKK Slovan Galanta A</h3>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/historia">
      <div class="carousel-image">
        <img src="assets/images/history.jpg" class="d-block mx-auto w-75 rounded-custom" alt="history-car">
        <div class="overlay"></div>
      </div>
      <div class="carousel-caption">
        <h3>50 rokov kolkov v Uhrovci</h3>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <div class="carousel-image">
        <img src="assets/images/kolkaren.jpg" class="d-block mx-auto w-75 rounded-custom" alt="kolkaren-car">
        <div class="overlay"></div>
      </div>
      <div class="carousel-caption">
      <h3>Novo-prerobená kolkáreň</h3>
    </div>
  </div>
</div>

<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
</body>
</html>
