<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<div id="carouselExampleAutoplaying" class="carousel slide bg-light" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <a href="https://vysledky.kolky.sk/match/detail/40861/KK-Hustra-Uhrovec-vs-MKK-Slovan-Galanta-A" >
      <div class="carousel-image">
        <img src="assets/images/pobedim_zapas.png" class="d-block mx-auto w-75 rounded-custom" alt="zapas-car">
        <div class="overlay"></div>
      </div>
      <div class="carousel-caption">
        <h3>KK Hustra Uhrovec - MKK Slovan Galanta A</h3>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/historia">
      <div class="carousel-image">
        <img src="assets/images/history.jpg" class="d-block mx-auto w-75 rounded-custom" alt="history-car">
        <div class="overlay"></div>
      </div>
      <div class="carousel-caption">
        <h3>50 rokov kolkov v Uhrovci</h3>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/">
      <div class="carousel-image">
        <img src="assets/images/kolkaren2.jpg" class="d-block mx-auto w-75 rounded-custom" alt="kolkaren-car">
        <div class="overlay"></div>
      </div>
      <div class="carousel-caption">
      <h3>Novo-prerobená kolkáreň</h3>
    </div>
      </a>
  </div>
</div>

<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <h2 class="pb-2 border-bottom">Novinky</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <a class="text-reset text-decoration-none" href="/">
        <div class="card shadow-sm">
          <img src="assets/images/kolkaren2.jpg" alt="news1" height="300px" class="bd-placeholder-img card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi enim nunc faucibus a.</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">9 minutes ago</small>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col">
        <a class="text-reset text-decoration-none" href="/">
        <div class="card shadow-sm">
          <img src="assets/images/pobedim_zapas.png" alt="news2" height="300px" class="bd-placeholder-img card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">59 minutes ago</small>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col">
        <a class="text-reset text-decoration-none" href="/">
        <div class="card shadow-sm">
          <img src="assets/images/fotoKlub.jpg" alt="news2" height="300px" class="bd-placeholder-img card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et.</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">5 days ago</small>
            </div>
          </div>
        </div>
        </a>
      </div>

      <div class="col">
        <a class="text-reset text-decoration-none" href="/">
        <div class="card shadow-sm">
          <img src="assets/images/hustraCup.jpg" alt="news2" height="300px" class="bd-placeholder-img card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Non diam phasellus vestibulum lorem sed risus.</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">1 week ago</small>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col">
        <a class="text-reset text-decoration-none" href="/">
        <div class="card shadow-sm">
          <img src="assets/images/poharRS.jpg" alt="news2" height="300px" class="bd-placeholder-img card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices.</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">2 weeks ago</small>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col">
        <a class="text-reset text-decoration-none" href="/">
        <div class="card shadow-sm">
          <img src="assets/images/kolkarskeG.jpg" alt="news2" height="300px" class="bd-placeholder-img card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Semper risus in hendrerit gravida rutrum quisque non tellus orci.</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">3 weeks ago</small>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
</body>


</html>
